<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
		integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
	<title>ditm</title>
</head>

<body>
	<div class="container">
		<h1>ditm</h1>

		<ul class="nav nav-tabs" role="tablist">
			<li class="nav-item" role="presentation">
				<button class="nav-link active" data-bs-toggle="tab" role="tab" aria-controls="home"
					aria-selected="true" data-bs-target="#home">Home</button>
			</li>
			<li class="nav-item" role="presentation">
				<button class="nav-link" data-bs-toggle="tab" role="tab" aria-controls="recordings"
					aria-selected="false" data-bs-target="#recordings">Recordings</button>
			</li>
			<li class="nav-item" role="presentation">
				<button class="nav-link" data-bs-toggle="tab" role="tab" aria-controls="volumes" aria-selected="false"
					data-bs-target="#volumes">Volumes</button>
			</li>
			<li class="nav-item" role="presentation">
				<button class="nav-link" data-bs-toggle="tab" role="tab" aria-controls="partitions"
					aria-selected="false" data-bs-target="#partitions">Partitions</button>
			</li>
		</ul>

		<div class="tab-content">
			<div id="home" class="tab-pane fade show active" role="tabpanel">
				<h3>HOME</h3>
				{{if .ModeDefault}}
				<a class="btn btn-primary" href="/start_recording">Start Recording</a>
				<a class="btn btn-primary" href="/save_volumes">Save Volumes</a>
				{{end}}
				{{if .ModeInspecting}}
				<a class="btn btn-primary" href="/start_recording">Start Recording</a>
				<a class="btn btn-primary" href="/save_volumes">Save Volumes</a>
				<a class="btn btn-primary" href="/">Back to live</a>
				{{end}}
				{{if .ModeRecording}}
				<a class="btn btn-primary" href="/stop_recording">Stop Recoring</a>
				{{end}}
				{{if .ModeReplaying}}
				<a class="btn btn-primary" href="/">Cancel Replay</a>
				{{end}}
				<div id="table_container">
					<table class="table" id="event_table">
						<thead>
							<tr>
								<th>Timestamp</th>
								<th>From</th>
								<th>To</th>
							</tr>
						</thead>
					</table>
				</div>
			</div>

			<div id="recordings" class="tab-pane fade" role="tabpanel">
				<h3>Recording Menu</h3>
				<table class="table">
					<thead>
						<tr>
							<th scope="col">ID</th>
							<th scope="col">Show</th>
							<th scope="col">Start</th>
						</tr>
					</thead>
					<tbody>
						{{range .Recordings}}
						<tr>
							<td>{{.}}</td>
							<td><a href="/load_recording?id={{.}}">Show</a></td>
							<td><a href="/start_replay?id={{.}}">Start</a></td>
						</tr>
						{{end}}
					</tbody>
				</table>
			</div>

			<div id="volumes" class="tab-pane fade" role="tabpanel">
				<h3>Volume Menu</h3>
				<table class="table">
					<thead>
						<tr>
							<th scope="col">ID</th>
							<th scope="col">Load</th>
						</tr>
					</thead>
					<tbody>
						{{range .Volumes}}
						<tr>
							<td>{{.}}</td>
							<td><a href="/load_volumes?id={{.}}">Load Volumes {{.}}</a></td>
						</tr>
						{{end}}
					</tbody>
				</table>
			</div>

			<div id="partitions" class="tab-pane fade" role="tabpanel">
				<h3>Partition Menu</h3>
				<form action="/block_config">
					<select name="mode" class="form-select">
						<option value="random">random</option>
						<option value="partitions">partitions</option>
					</select>
					<input type="text" name="partitions" class="form-control" value="{{.Partitions}}" />
					<button type="submit" class="btn btn-primary">Submit</button>
				</form>
			</div>
		</div>
	</div>

	<script>
		let source = new EventSource("/live_updates")
		source.onopen = function (e) {
			console.log("open")
		}
		source.onerror = function (e) {
			console.log("error")
		}
		source.onmessage = function (e) {
			let table = document.getElementById("event_table")
			let rows = table.rows
			console.log(rows)
			let newRow = document.createElement("tr")
			newRow.innerHTML = e.data
			let timestamp = newRow.getElementsByTagName("td")[0].innerHTML
			var i
			for (i = 1; i < rows.length; i++) {
				if (rows[i].getElementsByTagName("td")[0].innerHTML > timestamp) {
					table.insertBefore(newRow, rows[i])
					return
				}
			}
			table.appendChild(newRow)
		}
	</script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
		crossorigin="anonymous"></script>
</body>

<style>
	#event_table td:nth-child(1) {
		font-family: monospace;
	}
</style>

</html>
