{{if .IsRequest}}
<tr class="{{if .Request.FromOutside}}blue{{else}}{{if or .Request.Blocked .Request.BlockedResponse}}red{{else}}green{{end}}{{end}}">
  <td>{{.Request.Timestamp.Format "15:04:05.000000"}}</td>
  <td>{{.Request.FromName}}</td>
  <td>{{.Request.Method}} {{abbreviate .Request.To 36}}</td>
  <td>{{abbreviate (string .Request.Body) 15}}</td>
  <td>{{abbreviate (string .Request.ResponseBody) 15}}</td>
  <td>{{if .Request.Blocked}}-\-&gt{{else}}{{if .Request.BlockedResponse}}&lt-\-{{else}}&lt--&gt{{end}}{{end}}</td>
</tr>
{{else}}
<tr class="">
  <td>{{.Log.Timestamp.Format "15:04:05.000000"}}</td>
  <td>{{.Log.ContainerName}}</td>
  <td colspan="4">{{abbreviate .Log.Message 80}}</td>
</tr>
{{end}}
